* {
    font-family: sans-serif;
}
  
.navbar-brand {
    font-family:'Garamond';
    font-weight: 100;
    color: black;
}
  
.search-bar {
    border-radius: 0px;
    border: 2px solid white;
}

.container-2 {
    background-color: #dcd7b9;
    border-radius: 24px;
    border: solid 4px white;
}

.container-2 p{
    color:black;
    font-size: 24px
}
