* {
  font-family: sans-serif;
}

.navbar-brand {
  font-family:'Garamond';
  font-weight: bold;
  color: black;
}

.search-bar {
  border-radius: 0px;
  border: 2px solid white;
}

.container {
  width: 200px;
  height: 175px;
  margin: 100px;
  transform: rotateY(0deg) rotate(45deg); /* needs Y at 0 deg to behave properly*/
  transition: transform 2s;
}

.inner {
  margin: 50px;
  transform: rotate(-45deg);
}